
html{
    background-color: blue;
    color: azure;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup-form{
    background-color: #f0f8ff80;
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.text-one{
    margin-top: 50px;
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-transform: uppercase;
}

.text-two{
    margin-top: 30px;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
}

.text-three{
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

.input-field{
    margin-top: 40px;
    
}

input[type=email]{
    padding: 8px 10px 8px 10px;
    min-width: 350px;
    font-size: 20px;
}

input[type=submit]{
    margin-top: 30px;
    font-size: 20px;
    color: #f0f8ff;
    text-transform: uppercase;
    background-color: #eab30ce0; 
    padding: 15px 40px 15px 40px;
    border: none;
    border-radius: 3px;

}

input[type=submit]:hover{
        background-color: #d4a005e0; 
   
}

