
.heading{
    background-image: url(./Assets/background\ image\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px;
    margin-left: -40px;
    
}

h1{
    text-align: left;
    font-size: 80pt;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 40px;
    color: #FFF0F5;
    font-family: 'Libre Baskerville', serif;
}

.h1transform{
    color: #ECBD00;
}

li{
    color: rgb(5, 0, 0);
}