html{
    background-color: #204b53;
}

body{
margin: 0px;
color: #FFF0F5;
font-family: 'Roboto', sans-serif;
}

.heading{
    background-image: url(./Assets/background\ image\ 7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px;
}

h1{
    font-size: 80pt;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 40px;
    color: #FFF0F5;
    font-family: 'Libre Baskerville', serif;
}

.h1transform{
    color: #ECBD00;
}

.mainSection{
    margin-left: 50px;
    margin-top: 60px;
}

h2{
    color: #ECBD00;
    margin-top: 40px;
}

.intro p{
    text-align: justify;
    width: 1000px;
}

.projects{
    margin-top: 10px;
    width: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.link{
    color: #FFF0F5;
    font-size: 14pt;
}

.card{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 20px 20px 0px;
    background-color:#0dad8d49;
}

footer{
    text-align: right;
    color: #ECBD00;
    margin-top: 60px;
}

