html{
    background-color: #204b53;
    color: #FFF0F5;
}

.mainSection{
    margin-left: 20px;
}

.heading{
    background-image: url(./Assets/background\ image\ 7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px;
    margin-left: -10px;
   
}

h1{
    text-align: left;
    font-size: 80pt;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 40px;
    color: #FFF0F5;
    font-family: 'Libre Baskerville', serif;
}

.h1transform{
    color: #ECBD00;
}

.mainSection{
    margin-left: 50px;
    margin-top: 60px;
}

.intro p{
    
}

li{
    color: #FFF0F5;
}

.link{
    color: #FFF0F5;
    font-size: 16pt;
}

.card{
    display: inline-block;
    text-align: center;
    border-style: solid;
    padding: 10px;
    display: inline-block;
}
.cardTitle{
    color: #FFF0F5;
}