.container{
    display: flex;
}

.navigationbar{
justify-content: flex-start;
gap: 20px;
background-color: grey;
padding: 10px;
}

.two{
    display: inline-flex;
    flex-direction: column;
    margin-top: 50px;
    flex-wrap: wrap;
}

.three{
    margin-top: 40px;

}

.two > *{
    min-width: 400px;
}

.red {background-color: #eb4d4b; }
.orange {background-color: #f0932b;}
.yellow {background-color: #f6e58d;}
.green {background-color: #6ab04c;}
.blue {background-color: #4834d4;}
.indigo {background-color: #30336b;}
.purple {background-color: #be2edd;}
.black {background-color: black;}
.grey {background-color: grey;}