html{
    background-color: #301934;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    color: white
}

.heading{
    background-image: url(./assets/background\ image\ 4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    margin-left: -40px;
}

h1{
    text-align: left;
    font-size: 80pt;
    text-transform: uppercase;
    color: #FFF0F5;
    font-family: 'Libre Baskerville', serif;
}

.h1transform{
    color: #ECBD00;
}

.menu{
    display: inline-flex;
    gap: 30px;
    background-color: #301934;
    margin-top: 20px;
    margin-bottom: 20px;
}


.button{
    background-color: #363062;
    border-radius: 3px;
    text-align: center;
    min-width: 100px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.details{
margin-top: 40px;
margin-bottom: 40px;
position: relative;
}

.profileImage{
    height: 250px;
    float: left;
    border-radius: 50%;
    border: black;
    border-style: solid;
    border-width: 1px;
    
}

ul{
    margin-left: 30px;
    margin-top: 60px;
    display: inline-block;
    font-size: 18pt;
    
}

hr{
    margin-left: -20px;
    margin-top: 
 }

 .story-section{
    margin-top: 30px;
 }
.story{
    margin-bottom: 60px;
    position: static;
    clear: left;
}

p{
    margin-right: 100px;
    text-align: justify;
}

